h1, h2 {
    font-family: Lato;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }

  .pixel {
    background: #9fe2fd;
    border: 1px solid white;
    width: 15px;
    height: 15px;
  }
  
.replica-h2 {
  background-color: rgb(100, 100, 100);
  color: rgba(252, 252, 252, 0.863);
}

  .pixel-dot {
    background: #e44d4d;
  }

  .replica_app {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .replica_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .replica_button {
    position: relative;
    background-color: #464b03;
    border: none;
    font-size: 12px;
    color: #FFFFFF;
    padding: 8px 32px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 24px;
  }
  
  .replica_button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -50px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .replica_button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

.replica-p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: linear-gradient(to bottom, rgb(59, 59, 58), #14110bd0);
  color: aliceblue;
  margin: 0 2rem;
}

.replica-p p {
  padding: 0.5rem 0;
}