@import url('https://fonts.cdnfonts.com/css/lomenthosy-slant');


.About-body {
    height: 100vh;
    background-color: white;
}
.About-body1 {
    background-color: black;
}

.About-name {
    padding-top: 10%;
    font-size: 30px;
    font-family: 'Lomenthosy Slant', sans-serif;
    color: white;
    text-align: center;
}

.About-download {
    position: fixed;
    bottom: 0;
    right:0;
    font-size: 12px;
    padding: 8px 16px;
    background-color: rgba(102, 8, 8, 0.952);
    border-radius: 10%;
    color: white;

}

.About-photo {
    width: 250px;
    border-radius: 50%;
}

.About-photo-container {
    text-align: center;
}

.About-aboutme-container {
    background-color: white;
    margin-top: -125px;
}

.About-aboutme {
    text-align: justify;
    font-size: 22px;
    padding-top: 150px;
    background-color: white;
}
.About-aboutme h3 {
    text-align: center;
}
.About-aboutme p {
    margin: 0 10%;
}